@import '@nostra/ui/theme';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/jetbrains-mono';
@import '@fontsource-variable/roboto-slab';
@import '@fontsource-variable/sora';

body {
	@apply relative min-h-screen overflow-x-hidden;
}
